<%- include("partials/header.ejs") %>
    <div class="main">
        <div class="card">
            <div class="head">
                <h1><%= listName1 %></h1>
            </div>
            <div class="form">
                <div class="list">
                    <ul>
                        <% NewListItems.forEach((NewListItem) =>{ %>
                            <form action="/delete" method="POST">
                                <div class="listItems">
                                    <li>
                                        <input class="check try" type="checkbox" name="checkbox" value="<%= NewListItem._id %>" onchange="this.form.submit()">
                                        <span>
                                            <%= NewListItem.name %>
                                        </span>
                                    </li>
                                </div>
                                <input type="hidden" name="listName" value="<%= listName1 %>">
                            </form>
                            <% }) %>
                    </ul>
                </div>
                <form action="/" method="POST">
                    <input type="text" name="Add" autocomplete="off" placeholder="NEW ITEM" class="posting">
                    <button type="submit" name="list" value="<%= listName1 %>" class="but">+</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        const checkboxes = document.querySelectorAll(".check");
        const trying = document.querySelector("try")
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener("click", handleCheckboxClick);
        });

        function handleCheckboxClick(event) {
            const index = event.target.getAttribute("data-index");
            const listItem = document.querySelector(`.listItems:nth-child(${parseInt(index) + 1}) li`);
            if (listItem) {
                listItem.classList.toggle("line");
            }
        }
    </script>
    </body>

    </html>