<%- include("partials/header.ejs") %>
<div class="main">
    <div class="card">
        <div class="head">
            <h1><%= KindOfDate %></h1>
        </div>
        <div class="form">
            <div class="list">
                <ul>
                    <% for (let i = 0; i < NewListItems.length; i++) { %>
                        <div class="listItems">
                            <li class="<%= NewListItems[i].completed ? 'completed' : '' %>">
                                <input class="check try" type="checkbox" data-index="<%= i %>" <%= NewListItems[i].completed ? 'checked' : '' %>>
                                <span><%= NewListItems[i].text %></span>
                            </li>
                        </div>
                    <% } %>
                </ul>
            </div>
            <form action="/" method="POST">
                <input type="text" name="Add" autocomplete="off" placeholder="NEW ITEM" class="posting">
                <button type="submit" name="list" class="but">+</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script>
    const checkboxes = document.querySelectorAll(".check");
    const trying = document.querySelector("try")
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener("click", handleCheckboxClick);
    });

    function handleCheckboxClick(event) {
        const index = event.target.getAttribute("data-index");
        const listItem = document.querySelector(`.listItems:nth-child(${parseInt(index) + 1}) li`);
        if (listItem) {
            listItem.classList.toggle("line");
        }
    }
</script>
</body>
</html>






